<div id="footer_container"
     [ngStyle]="{'border-top': topBorderStyle}"
>
    <div id="footerx">
        <div id="personal_logo" [routerLink]="['/']">
            <img style="margin-top: 18px" src="assets/images/footer/PersonalLogoBlack.png">
        </div>
        <div id="section1">
            <div id="navigation">
                <ul>
                    <li (click)="toggle(1)"><h4>{{plugMinusFromBool(pagesExpanded)}}Pages</h4></li>
                    <div class="slideContents" [@shrinkOrExpand]="pagesExpanded ? 'expanded' : 'shrinked'">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Bio.html">About</a></li>
                        <li><a href="Resume.html">Resume</a></li>
                        <li><a href="Graphic%20Design.html">Graphic Design </a></li>
                        <li><a href="Games.html">Games</a></li>
                        <li><a href="Contacts.html">Contact Me</a></li>
                    </div>
                </ul>
            </div>
            <div id="projects_footer">
                <ul>
                    <li (click)="toggle(2)"><h4>{{plugMinusFromBool(projectsExpanded)}}Projects</h4></li>
                    <div class="slideContents" [@shrinkOrExpand]="projectsExpanded ? 'expanded' : 'shrinked'">
                        <li><a href="Projects.html">All Projects</a></li>
                        <li><a href="Games.html">2048 Game</a></li>
                        <li><a href="AppFolio.html">Apps</a></li>
                        <li><a href="Beatslytics.html">Beatslytics</a></li>
                        <li><a href="Litec.html">Embedded Control</a></li>
                        <li><a href="https://github.com/CSDTs/3D_Visualizer/tree/3D-Visualizer-iOS">3D Visualizer</a></li>
                    </div>
                </ul>
            </div>
        </div>
        <div id="section2">
            <div id="graphics_footer">
                <ul>
                    <li (click)="toggle(3)"><h4>{{plugMinusFromBool(designsExpanded)}}Designs</h4></li>
                    <div class="slideContents" [@shrinkOrExpand]="designsExpanded? 'expanded' : 'shrinked'">
                        <li><a href="https://www.behance.net/gallery/47281675/2026-Time-Capsule">Time Capsule</a></li>
                        <li><a href="https://www.behance.net/gallery/52343049/RPI-Class-of-2021-Sticker-Design">2021 Stickers</a></li>
                        <li><a href="Regular_Art.html">Regular Art</a></li>
                        <li><a href="https://www.behance.net/gallery/47687973/Robotics-Recruitment-Poster">Robotics Poster</a></li>
                        <li><a href="https://www.behance.net/MrProLi">Behance</a></li>
                        <li><a href="https://www.flickr.com/photos/154270674@N02/">Flickr</a></li>
                    </div>
                </ul>
            </div>
            <div id="social_media_footer">
                <ul>
                    <li (click)="toggle(4)"><h4>{{plugMinusFromBool(socialsExpanded)}}Social</h4></li>
                    <div class="slideContents" [@shrinkOrExpand]="socialsExpanded ? 'expanded' : 'shrinked'">
                        <li><a href="https://www.facebook.com/li.jingwei.94">Facebook</a></li>
                        <li><a href="https://www.instagram.com/ljw980105">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/in/jingweili2/">LinkedIn</a></li>
                        <li><a href="https://twitter.com/MrProLi">Twitter</a></li>
                        <li><a href="https://www.youtube.com/channel/UC33WP6-Af8Oy7SGzZm5mxng">Youtube</a></li>
                        <li><a href="https://github.com/ljw980105/">GitHub</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div id="mobile_logo">
        <img src="assets/images/footer/PersonalLogo.png">
    </div>
</div>
<h4
    id="standalone_footer"
    style="text-align: center"
> &copy; JING WEI LI 2017-{{year}}. Proudly Created from Scratch</h4>
