<div style="display: flex">
    <div id="navigator">
        <img src="assets/images/footer/logo2020White.png" width="120px">
        <div><a class="helvetica anchor-style" [routerLink]="['edit-resume']" [routerLinkActive]="'active'">Resume</a></div>
        <div><a class="helvetica anchor-style" [routerLink]="['edit-graphics']" [routerLinkActive]="'active'">Graphic Design</a></div>
        <div><a class="helvetica anchor-style" [routerLink]="['edit-home']" [routerLinkActive]="'active'">Home</a></div>
        <div><a class="helvetica anchor-style" [routerLink]="['edit-projects']" [routerLinkActive]="'active'">Projects</a></div>
        <div><a class="helvetica anchor-style" [routerLink]="['edit-apps']" [routerLinkActive]="'active'">Apps</a></div>
        <div><a class="helvetica anchor-style" [routerLink]="['browse-files']" [routerLinkActive]="'active'"> Browse Files</a></div>
        <div><h3 class="helvetica button-style anchor-style" [routerLink]="['/']">Log out</h3></div>
    </div>
    <div id="editing-panels" [ngClass]="{'navigator-full-width': showAnimatedHint}">
        <div id="navigator-animation"  *ngIf="showAnimatedHint">
            <ng-lottie width="200px" height="200px" [options]="options"></ng-lottie>
            <h3 class="helvetica">Pick Something from the Left </h3>
        </div>
        <router-outlet (activate)="routerActivated()" (deactivate)="routerDeactivated()"></router-outlet>

    </div>
</div>
