<div style="display: flex">
    <div id="navigator">
        <img src="assets/images/footer/logo2020White.png" width="120px">
        <div [ngClass]="{'highlighted': highlights['edit-resume']}">
            <a (click)="highlightComponent('edit-resume')"
                class="helvetica anchor-style"
                [routerLink]="['edit-resume']"
                [routerLinkActive]="'active'">Resume
            </a>
        </div>
        <div [ngClass]="{'highlighted': highlights['edit-graphics']}">
            <a (click)="highlightComponent('edit-graphics')"
               class="helvetica anchor-style"
               [routerLink]="['edit-graphics']"
                [routerLinkActive]="'active'">Graphic Design
            </a>
        </div>
        <div [ngClass]="{'highlighted': highlights['edit-home']}">
            <a (click)="highlightComponent('edit-home')"
               class="helvetica anchor-style"
               [routerLink]="['edit-home']"
               [routerLinkActive]="'active'">Home
            </a>
        </div>
        <div [ngClass]="{'highlighted': highlights['edit-projects']}">
            <a (click)="highlightComponent('edit-projects')"
               class="helvetica anchor-style"
               [routerLink]="['edit-projects']"
               [routerLinkActive]="'active'">Projects
            </a>
        </div>
        <div [ngClass]="{'highlighted': highlights['edit-apps']}">
            <a (click)="highlightComponent('edit-apps')"
               class="helvetica anchor-style"
               [routerLink]="['edit-apps']"
               [routerLinkActive]="'active'">Apps
            </a>
        </div>
        <div [ngClass]="{'highlighted': highlights['edit-drinks']}">
            <a (click)="highlightComponent('edit-drinks')"
               class="helvetica anchor-style"
               [routerLink]="['edit-drinks']"
               [routerLinkActive]="'active'"> Drinks</a>
        </div>
        <div [ngClass]="{'highlighted': highlights['browse-files']}">
            <a (click)="highlightComponent('browse-files')"
               class="helvetica anchor-style"
               [routerLink]="['browse-files']"
               [routerLinkActive]="'active'"> Browse Files</a>
        </div>
        <div><h3 class="helvetica button-style anchor-style" [routerLink]="['/']">Log out</h3></div>
    </div>
    <div id="editing-panels" [ngClass]="{'navigator-full-width': showAnimatedHint}">
        <div id="navigator-animation"  *ngIf="showAnimatedHint">
            <ng-lottie width="200px" height="200px" [options]="options"></ng-lottie>
            <h3 class="helvetica">Pick Something from the Left </h3>
        </div>
        <router-outlet (activate)="routerActivated()" (deactivate)="routerDeactivated()"></router-outlet>

    </div>
</div>
