#navigator {
    background-color: black;
    width: 150px;
    height: 100%;
    position: fixed;
    padding: 18px 36px;
    display: block;

    h3 {
        color: white;
        cursor: pointer;
    }

}

#editing-panels {
    padding: 1% 3% 1% 275px;
}

.button-style {
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: orange;
    padding: 8px 15px;
}

.anchor-style {
    text-decoration: none;
    &:link, &:visited {
        color: white;
    }
    &:hover {
        text-decoration: underline;
    }
}

#navigator-default {
    width: 800px;
}

#navigator-animation {
    display: block;
    width: 200px;
    margin-top: 100px;
    h3 {
        text-align: center;
    }
}
