td, th {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(255, 242, 220);
}

a {
    &:link, &:visited, &:hover {
        color: orangered;
        text-decoration: none;
    }
}

@mixin file-browser-hide-button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#file-browser-replace{
    @include file-browser-hide-button;
}

.file-browser-button-style {
    color: orangered;
    cursor: pointer;
}

select {
    height: 50px;
}
