<div class="flex">
    <h2 class="admin-header mohave">FILES</h2>
    <div class="flex ml-auto">
        <div style="margin-right: 16px">
            <p class="file-browser-header helvetica-normal">USAGE</p>
            <p class="helvetica">{{this.viewModel.directoryInfo.usedCapacity | bytes}} of {{this.viewModel.directoryInfo.totalCapacity | bytes}} used</p>
        </div>
        <div>
            <p class="file-browser-header helvetica-normal">DIRECTORY</p>
            <select class="helvetica admin-select" [(ngModel)]="this.viewModel.currentDirectory" (change)="refresh()">
                <option *ngFor="let directory of this.viewModel.directories">{{directory}}</option>
            </select>
        </div>
    </div>
</div>

<div class="flex">
    <table class="admin-section">
        <tr class="file-browser-clickable">
            <th class="helvetica" (click)="sortFilesBy('name')">
                <span class="flex">
                    <p class="clear-text-paddings">Name&nbsp;&nbsp;&nbsp;</p>
                    <img class="ml-auto"
                         *ngIf="sortingTable['name'][0]"
                         src="assets/images/admin/{{sortingTable['name'][1] ? 'up-caret.png' : 'down-caret.png'}}">
                </span>
            </th>
            <th class="helvetica" (click)="sortFilesBy('type')">
                <span class="flex">
                    <p class="clear-text-paddings">Type&nbsp;&nbsp;&nbsp;</p>
                    <img class="ml-auto"
                         *ngIf="sortingTable['type'][0]"
                         src="assets/images/admin/{{sortingTable['type'][1] ? 'up-caret.png' : 'down-caret.png'}}">
                </span>
            </th>
            <th class="helvetica" (click)="sortFilesBy('created')">
                <span class="flex">
                    <p class="clear-text-paddings">Created at &nbsp;&nbsp;&nbsp;</p>
                    <img class="ml-auto"
                         *ngIf="sortingTable['created'][0]"
                         src="assets/images/admin/{{sortingTable['created'][1] ? 'up-caret.png' : 'down-caret.png'}}">
                </span>
            </th>
            <th class="helvetica" (click)="sortFilesBy('size')">
                <span class="flex">
                    <p class="clear-text-paddings">Size&nbsp;&nbsp;&nbsp;</p>
                    <img class="ml-auto"
                         *ngIf="sortingTable['size'][0]"
                         src="assets/images/admin/{{sortingTable['size'][1] ? 'up-caret.png' : 'down-caret.png'}}">
                </span>
            </th>
            <th class="helvetica">Actions</th>
        </tr>
        <tr *ngFor="let file of this.viewModel.files">
            <th class="helvetica-normal flex">
                <img class="file-browser-icon" src="{{imageNameFor(file)}}">
                &nbsp;&nbsp;{{file.name}}
            </th>
            <th class="helvetica-normal">{{file.type}}</th>
            <th class="helvetica-normal">{{file.createdDate | date: 'shortDate'}}</th>
            <th class="helvetica-normal">{{file.fileSize | bytes}}</th>
            <th class="helvetica-normal file-browser-button-style"
                (click)="openFileNamed(file.name)"
                *ngIf="this.viewModel.currentDirectory === 'private'"
            >View</th>
            <th class="helvetica-normal file-browser-button-style" *ngIf="this.viewModel.currentDirectory === 'public'">
                <a href="{{apiService.fileURL(file.name)}}" target="_blank">View</a>
            </th>
            <th class="helvetica-normal file-browser-button-style" (click)="deleteFile(file)">
                Delete
            </th>
        </tr>
    </table>

    <app-batch-file-uploader
        style="margin-left: 30px; height: 80px;"
        class="admin-section"
        [instruction]="'Upload Files Here'"
        [fileTypes]="[]"
        [directory]="this.viewModel.currentDirectory"
        (uploadCompleted)="refresh()"
    ></app-batch-file-uploader>

</div>
