textarea {
    width: 800px;
    height: 250px;
}

.right-half {
    width: 400px;
}

code {
    margin: 0;
    width: 450px;
}

@media only screen and (max-width: 1570px) {
    textarea {
        width: 450px;
    }
}
