<div class="flex">
    <div class="left-half">
        <h3 class="helvetica">Existing Projects</h3>
        <div *ngFor="let project of projects" class="single-project">
            <img src="{{this.apiService.fileURL(project.imageUrl)}}">
            <div style="width: 280px">
                <h4 class="helvetica">{{project.name}}</h4>
                <h5 class="helvetica-normal">{{project.description}}</h5>
            </div>
        </div>
        <button class="vertical-spacing-button" (click)="exportJSON()">Export as JSON</button>
    </div>
    <div class="right-half">
        <h3 class="helvetica">JSON Spec:</h3>
        <div class="menlo">
            <pre>
                <code [highlight]="jsonSpec"></code>
            </pre>
        </div>
        <h3 class="helvetica">Enter JSON</h3>
        <label>
            <textarea class="menlo" [(ngModel)]="projectsData"></textarea>
        </label>
        <button class="helvetica vertical-spacing-button" (click)="uploadProjects()">Upload</button>
        <h3 class="helvetica">Upload Images</h3>
        <p class="helvetica" style="margin: 10px 0">Recommended Aspect Ratio: 3:2</p>
        <div class="flex">
            <input type="file" accept=".png,.jpg,.jpeg,.gif" multiple
                   (change)="uploadFiles($event)">
            <div class="activity-indicator">
                <ng-lottie [options]="uploadFilesOptions" width="60px" height="60px" *ngIf="uploadingFiles"></ng-lottie>
            </div>
        </div>

    </div>
</div>
