textarea {
    width: 800px;
    height: 250px;
    padding: 10px;
}

.right-half {
    width: 400px;
}

.single-project {
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;

    h5, h4 {
        margin: 5px 0;
        padding: 0;
    }

    img {
        width: 70px;
        height: 70px;
        margin-right: 10px
    }
}

code {
    margin: 0;
}
