<div class="flex">
    <div class="left-half">
        <h3 class="helvetica">Existing Projects</h3>
        <div *ngFor="let project of projects" class="admin-single-project">
            <img class="project-img-size" src="{{this.apiService.fileURL(project.imageUrl)}}">
            <div style="width: 280px">
                <h4 class="helvetica">{{project.name}}</h4>
                <h5 class="helvetica-normal">{{project.description}}</h5>
            </div>
        </div>
        <button class="vertical-spacing-button" (click)="exportJSON()">Export as JSON</button>
    </div>
    <div class="right-half">
        <h3 class="helvetica">JSON Spec:</h3>
        <div class="menlo">
            <pre>
                <code [highlight]="jsonSpec"></code>
            </pre>
        </div>
        <h3 class="helvetica">Enter JSON</h3>
        <label>
            <textarea class="menlo admin-textarea" [(ngModel)]="projectsData"></textarea>
        </label>
        <button class="helvetica vertical-spacing-button" (click)="uploadProjects()">Upload</button>
        <app-batch-file-uploader
            [title]="'Upload Images'"
            [instruction]="'Recommended Aspect Ratio: 3:2'"
        ></app-batch-file-uploader>

    </div>
</div>
