<app-navbar></app-navbar>

<div id="main-wrapper">

<div id="main">
    <div id="intro">
        <h1>JING WEI LI</h1>
        <div id="sub-intro">
            <h2>iOS Engineer, </h2>
            <h2>Graphic Designer, </h2>
            <h4>Incoming Software Engineer @<a target="_blank" href="https://www.draftkings.com">DraftKings</a></h4>
        </div>
    </div>

    <div id="social_media">
        <ul>
            <a id="sm1" target="_blank" href="https://www.facebook.com/li.jingwei.94">
                <img src="assets/images/home/fb.png" width="50" height="50">
            </a>
            <a id="sm2" target="_blank" href="https://www.linkedin.com/in/jingweili2/">
                <img src="assets/images/home/linkedin.png" width="50" height="50">
            </a>
            <a id="sm3" target="_blank" href="https://www.youtube.com/channel/UC33WP6-Af8Oy7SGzZm5mxng">
                <img src="assets/images/home/yt.png" width="50" height="50">
            </a>
            <a id="sm4" target="_blank" href="https://www.flickr.com/photos/154270674@N02/">
                <img src="assets/images/home/flickr-circle.png" width="50" height="50">
            </a>
            <a id="sm5" target="_blank" href="https://github.com/ljw980105/">
                <img src="assets/images/home/github.png" width="50" height="50">
            </a>
            <a id="sm6" target="_blank" href="https://stackoverflow.com/users/9132818/jingwei-li">
                <img src="assets/images/home/stackoverflow.png" width="50" height="50">
            </a>
        </ul>
    </div>
</div>

</div>

<div id="wrapper" class="width-container">
    <div id="col-1">
        <div id="beatslytics" class="background-card">
            <div>
                <a class="large-anchor" href="Beatslytics.html">iOS App <br/>Beatslytics</a>
            </div>
        </div>

        <div class="neutral-card middle-card-margin">
            <div class="flex center_div">
                <h1 class="emoji">🖥</h1>
                <p (click)="togglePCSetup()" class="font-for-emoji clear-text-paddings orange-hover-fx">My PC <br> Specs</p>
            </div>
        </div>

        <div id="gfx" class="middle-card-margin background-card">
            <div>
                <a class="large-anchor" href="Graphic%20Design.html">Graphic Design <br>Portfolio</a>
            </div>
        </div>

        <div class="neutral-card middle-card-margin">
            <div class="flex center_div">
                <h1 class="emoji">📞</h1>
                <p (click)="toggleContactsPage()" class="font-for-emoji clear-text-paddings orange-hover-fx">Contact <br> Me</p>
            </div>
        </div>
    </div>

    <div id="col-2">

        <div id="adc">
            <div id="adc-icons">
                <div style="width: 28%; margin-right: 8%">
                    <div style="margin-bottom: 10px; margin-left: 12%">
                        <img width="70px" height="70px" src="assets/images/home/yt.png" style="filter: invert(100)">
                    </div>
                    <div>
                        <a class="center-text-absolute" href="https://www.youtube.com/watch?v=_ar0LT4DYQM&feature=emb_title" target="_blank">Watch&nbsp;Video</a>
                    </div>
                </div>

                <div style="width: 28%; margin-right: 8%">
                    <div style="margin-bottom: 10px; margin-left: 12%">
                        <img width="70px" height="70px" src="assets/images/home/websiteIcon.png">
                    </div>
                    <div>
                        <a class="center-text-absolute" href="{{adcWebsite}}" target="_blank">Visit&nbsp;Website</a>
                    </div>
                </div>

                <div style="width: 28%">
                    <div style="margin-bottom: 10px; margin-left: 12%">
                        <img width="70px" height="70px" src="assets/images/home/downloadIcon.png">
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<a class="center-text-absolute" href="{{adcAppDownloadLink}}" target="_blank">Download</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="bio">
            <p (click)="toggleAboutPage()" class="large-anchor">About Me</p>
        </div>

    </div>

    <div id="col-3">
        <div id="apps" class="background-card">
            <div>
                <a href="AppFolio.html" class="large-anchor">Apps <br> Portfolio</a>
            </div>
        </div>

        <div class="neutral-card center_img">
            <div class="flex center_div">
                <h1 class="emoji">⚙️</h1>
                <p class="font-for-emoji clear-text-paddings orange-hover-fx">My <br> Projects</p>
            </div>
        </div>

        <div style="width: 100%; outline: 1px solid gray; border-radius: 15px; margin-top: 10px">
            <a
                class="twitter-timeline"
                data-height="491"
                href="https://twitter.com/MrProLi?ref_src=twsrc%5Etfw"
            >Tweets by MrProLi</a>
        </div>
    </div>
</div>

<app-pc-setup id="pc-setup" *ngIf="showPCSetup"></app-pc-setup>

<app-about id="about" *ngIf="showAboutPage"></app-about>

<app-contacts id="contacts" *ngIf="showContacts"></app-contacts>

<app-footer [showTopBorder]="false"></app-footer>
