$typical-margin: 11px;
$neutral-card-padding: 25px;
$single-height: 200px;
$neutral-card-width: 300px;
$card-top: 0px;
$mobile-top-section-width: 400px;
$mobile-top-section-width-percentage: 80%;
$custom-grey: rgb(242, 242, 242);
$custom-blue: rgb(68, 102, 176);

@mixin round-corner {
    border-radius: 10px 10px 10px 10px;
    overflow:hidden;
}

@mixin zoom-fx($amount) {
    transition: all 0.3s ease-in-out;
    transform: scale($amount, $amount);
}

@mixin underline($color , $top-bottom) {
    position: relative;
    text-decoration: none;
    display: inline-block; // note this will make entire link wrap to new line.

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: $top-bottom;
        left: 0;
        background-color: rgba($color, 0);
        transform: scaleX(0);
        transition: all .3s ease-in-out;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
            background-color: $color;
        }
    }
}

.typical-margin {
    margin-right: $typical-margin;
}

#main {
    display: flex;
    justify-content: space-between;
}

#main-wrapper {
    padding: 1% 0 3% 0;
}

.main-individual-img {
    height: 500px;
    width: 400px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

#top-canvas {
    margin-top: 48px;
}

.main-logo {
    width: 400px;
}

.mobile-logo {
    display: none;
}

.center_text {
    width: 100%;
    text-align: center;
}

#social_media {
    width: 230px;
    & a {
        padding: 0 3%;
        & img {
            &:hover {
                @include zoom-fx(1.25);
            }
        }
    }
}

#social_media_container {
    display: flex;
    justify-content: flex-end;
}

.column-1 {
    display: flex;
}

.column-2 {
    display: flex;
}


#wrapper {
    display: flex;
    margin-top: $card-top;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.orange-hover-fx {
    transition: all .1s ease-in;
    &:link, &:visited {
        color: white;
    }
    &:hover {
        color: orange;
    }
}

.large-anchor {
    color: white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 3px 3px 2px black;
    transition: all .1s ease-in;
    &:link, &:visited {
        color: white;
    }
    &:hover {
        color: orange;
    }
}

.middle-card-margin {
    margin-bottom: $typical-margin;
}

.neutral-card {
    width: $neutral-card-width;
    height: $single-height;
    background-color: $custom-grey;
    margin: $typical-margin $typical-margin 0 0;
    text-align: left;
    display: flex;
    @include round-corner();

    h1 {
        margin-right: 15px;
        margin-left: auto;
    }

    p {
        font-size: 30px;
        margin-top: 10px;
        cursor: pointer;
        margin-right: auto;
        margin-left: 10px;
    }

    img {
        width: 100px;
    }
}

.font-for-emoji {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#col-1, #col-2 {
    width: 32.67%;
    margin-right: 1%;
}

#col-3 {
    width: 32.67%;
}

@media only screen and (max-width: 1580px) {
    //width container home cards 1580 px
    .neutral-card {
        width: 250px;
        height: 165px;

        img {
            width: 80px;
        }

        p {
            font-size: 25px;
        }
    }
}


@media only screen and (max-width: 1450px) {
    //width container 1450 px
    .main-individual-img {
        height: 400px;
        width: 300px;
    }

    .main-logo {
        width: 350px;
    }
}

@media only screen and (max-width: 1320px) {
    //width container 1320 px
    .neutral-card {
        width: 220px;
        height: 145px;
    }
}

@media only screen and (max-width: 1200px) {
    #main {
        margin-top: $typical-margin;
        margin-left: 5%;
    }

    #wrapper {
        display: block;
    }

    .neutral-card {
        width: 250px;
        height: 165px;
    }

    .column-2 {
        max-width: 520px;
        margin: auto;
    }
}

@media only screen and (max-width: 1100px) {
    .neutral-card h1 {
        margin-top: 50px;
        font-size: 45px;
    }

    #main-wrapper {
        background-size: 110%;
    }

    #social_media {
        margin-left: -15%;
    }
}

@media only screen and (max-width: 1000px) {
    .main-logo {
        width: 250px;
    }

    .main-individual-img {
        height: 350px;
        width: 263px;
    }
}

@media only screen and (max-width: 950px) {
    #main-wrapper {
        padding: 7% 0;
    }
}

@media only screen and (max-width: 890px) {
    .main-individual-img {
        height: 300px;
        width: 225px;
    }
    #main {
        margin-left: 4%;
    }
}

@media only screen and (max-width: 800px) {
    .column-1, .column-2 {
        display: block;
        width: 70%;
        margin: auto;
    }

    .column-2 {
        max-width: none;
    }

    .neutral-card {
        width: 100%;
        height: $single-height;
        p {
            font-size: 30px;
        }
        img {
            width: 100px;
        }
    }

    .main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        width: $mobile-top-section-width;
        margin: 40px auto 0 auto;
    }

    .main-individual-img {
        &:nth-child(1) {
            margin: auto;
            width: $mobile-top-section-width;
            height: 500px;
        }
        &:nth-child(2) {
            display: none;
        }
    }
    #social_media_container {
        width: $mobile-top-section-width;
    }

    #main {
        display: block;
    }

    #top-canvas {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .main-individual-img {
        &:nth-child(1) {
            margin: auto;
            width: $mobile-top-section-width-percentage;
            height: 350px;
        }
    }

    .mobile-logo {
        width: $mobile-top-section-width-percentage;
    }

    #social_media_container {
        width: $mobile-top-section-width-percentage;
    }

    .column-1, .column-2 {
        width: 96%;
    }
}
