$base-padding: 0 15% 5% 15%;
$narrow-padding: 0 8% 5% 8%;
$experience-padding: 0 20%;
$experience-padding-medium: 0 15%;
$experience-padding-small: 0 5%;

body {
    background-color: black;
}

p {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #888888;
}

#appFolio_bg {
    padding: 20% 0;
    background-image: url("~src/assets/images/apps/AppFolioBg.svg");
    background-size: 100%;
    background-position-y: 120%;
}

h1 {
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    background-position-y: 60%;
    font-size: 45px;
}

.title {
    padding: 0 5%;
}

.experience-style {
    padding: $experience-padding-medium;
    margin-top: 4%;
    display: flex;
    div {
        padding: 0 3%;
        display: block;
        text-align: left;
    }

    h2 {
        margin-top: 0.5%;
        color: white;
        font-family: Mohave, serif;
    }

    h3 {
        margin-top: -1%;
        color: #888888;
        font-family: RobotoReg, serif;
    }

    h4 {
        margin-top: -1%;
        color: #888888;
        font-family: Roboto, sans-serif;
    }
}

@media only screen and (max-width: 1000px) {
    .experience-style {
        padding: $experience-padding-medium;
    }
}

@media only screen and (max-width: 900px) {

    .app img { display: initial; }

    h1, h2, p { text-align: left; }

    h1 { font-size: 35px; }

    .title { padding: $narrow-padding; }

    .anchor-tag-alignment { text-align: left; }

    .experience-style {
        padding: $experience-padding-small;
        display: block;
        div { padding: 0 0; }
    }
}
