p {
    margin-bottom: 15px;
}

#about {
    textarea {
        width: 400px;
        height: 180px;
        padding: 10px;
    }
}

#about {
    textarea {
        width: 400px;
        height: 180px;
        padding: 10px;
    }
}

#pc-setup {
    textarea {
        width: 400px;
        height: 400px;
        padding: 10px;
    }
}
