.resizable {
    resize: both;
    overflow: auto;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 10px;
}

#single-graphic-project {
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    height: 70px;

    h5, h4 {
        margin: 5px 0;
        padding: 0;
    }
}

.trash {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

p {
    color: dimgrey;
    font-size: 14px;
}

