#add-project {
    width: 400px;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.resizable {
    resize: both;
    overflow: auto;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 10px;
}

label, textarea, input {
    display: inline-block;
}

.vertical-spacing {
    margin: 10px 0 5px 0;
}

.vertical-spacing-button {
    margin: 10px 0;
}

#existing-graphics-projects {
    width: 380px;
    margin-right: 50px;
}

#single-graphic-project {
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;

    h5, h4 {
        margin: 5px 0;
        padding: 0;
    }
}

.trash {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

p {
    color: dimgrey;
    font-size: 14px;
}

.p-non-button {
    margin: 0;
    padding: 5px 0 0 0;
}

.p-button {
    margin: 0;
    padding: 7px 0 0 0;
}
