@import "fonts";
@import "width-container";

/*For selection color*/
::-moz-selection { /* Code for Firefox */
    color: white;
    background: orange;
}

::selection {
    color: white;
    background: orange;
}

html, body {
    margin: 0 0 0 0;
    padding: 0;
    height: 100%;
}

.flex {
    display: flex;
}

.clear-text-paddings {
    padding: 0;
    margin: 0;
}

.round-corner {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.center_div {
    margin: auto;
    width: 50%;
}

.center-div-horizontally {
    width: 50%;
    margin: 0 auto;
}

.center-text-absolute {
    width: 100%;
    text-align: center;
}

.helvetica {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.center_img  { /*THE AMAZING CODE THAT CENTERS THE GODDAMN IMAGE*/ }

.center_img img  {
    display: block;
    margin: 0 auto;
}

.orange-underline-anchor {
    text-decoration: underline;
    transition: all .1s ease-in;
    &:visited, &:link {
        color: black;
    }
    &:hover {
        color: orangered;
    }
}

