$resume-orange: rgb(255, 157, 0);
$resume-light-grey: rgb(244, 244, 244);
$rounded-corner-border-radius: 10px;

@mixin vertical-padding($amount) {
    padding-top: $amount;
    padding-bottom: $amount;
}

.theme-color {
    color: $resume-orange;
}

#top-section {
    @include vertical-padding(2%);
}

#stats-showoff {
    display: flex;
}

#logo-dual {
    display: flex;
    div:nth-child(1) {
        width: 35%;
        margin: 0 10% auto 0;
        img {
            border-radius: $rounded-corner-border-radius;
        }
    }
    div:nth-child(2) {
        width: 45%;
        margin-bottom: auto;
        margin-top: 0;
        line-height: 1.3;
    }
}
.neutral-card {
    background-color: $resume-light-grey;
    text-align: left;
    border-radius: $rounded-corner-border-radius;
    padding: 20px 60px;
}

#ios-showoff {
    @include vertical-padding(3%);
}

#stats-col-1, #stats-col-2 {
    width: 30%;
    margin-right: 5%;
}

#stats-col-3 {
    width: 30%;
}

#stats-col-3, #stats-col-1, #stats-col-2 {
    h1 {
        margin-right: 5%;
    }
    h3 {
        margin-top: 15%;
    }
}

#ios-skills {
    display: flex;
    padding-bottom: 3%;
}

#ios-graphic {
    background-image: url("~src/assets/images/resume/ios-graphic.png");
    background-size: 110%;
    background-repeat: no-repeat;
    width: 25%;
    margin-right: 8%;
}

#ios-content {
    width: 67%;
}

#web-skills {
    padding: 3% 0;
    background-color: $resume-light-grey;
}

.web-skills-scroll {
    margin-right: 60px;
    div {
        margin-right: 30px;
    }
}

#experiences {
    @include vertical-padding(3%);
}
app-timeline-block {
    margin-top: 100px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.line {
    width: auto;
    height: 2px;
    border-bottom: 1px solid black;
    position: absolute;
}

#resume-card {
    padding: 1% 0;
    width: 820px;
    margin: 0 0 3% 0;
    white-space: normal;
    vertical-align: top;
}

#resume-card-left {
    width: 35%;
    margin-right: 5%;
    display: block;
}

#resume-card-mid {
    width: 52%;
}

#resume-card-right {
    width: 8%;
}

#resume-card-container, #resume-card-container-left {
    display: flex;
}

hr {
    margin-top: 13px;
    border: none;
    height: 3px;
    color: black;
    background-color: black;
    flex-grow: 1;
}

#time-line {
    width: 78%;
}

.overlay {
    position: absolute;
    left: 40%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 95%);
}

#graphics {
    background-color: black;
    display: flex;
    color: white;
}

#graphics-left {
    width: 50%;
}

#graphics-right {
    width: 50%;
}

#graphics-skills {
    display: flex;
    div:nth-child(1), div:nth-child(2) {
        width: 30%;
        margin-right: 2%;
    }
    div:nth-child(3) {
        width: 30%;
    }
}

#education {
    @include vertical-padding(3%);
    background-color: $resume-light-grey;
}

.edu-styles {
    display: flex;
    background-color: rgba(14, 23, 68, 0.07);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    div {
        padding: 1% 3%;
    }
    img {
        width: 200px;
        height: 200px;
    }
    h1 {
        margin: 0;
        padding: 10px 0;
    }
}

.resume-cv-styles {
    @include vertical-padding(3%);
}

.text-padding {
    padding: 4px 0;
    margin: 0;
}

@media screen and (max-width: 1450px) {
    #logo-dual {
        div:nth-child(1) {
            width: 35%;
            margin-right: 8%;
        }
        div:nth-child(2) {
            width: 57%;
        }
    }
    #resume-card {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .width-container { padding: 0 6%; }
    #time-line { width: 60%; }
}

@media screen and (max-width: 1000px) {
    #ios-skills {
        display: block;
    }
    #ios-graphic {
        background: none;
    }
    #ios-content {
        width: 100%;
    }
    #resume-card {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    #graphics {
        display: block;
    }
    #graphics-left, #graphics-right {
        width: 100%;
    }
    #resume-card-container {
        display: block;
        width: 90%;
    }
    #resume-card-right {
        width: 5%;
    }
    #resume-card {
        width: 480px;
    }
    #time-line {
        width: 65%;
    }
    #resume-card-left, #resume-card-mid {
        width: 100%;
        margin-right: 0;
    }
    #resume-card-left {
        display: flex;
        img {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }
        h3 {
            margin: 0;
            padding: 4px 0 0 0;
        }
    }
    #resume-card-container-left {
        display: block;
    }
    .extra-small-text {
        font-size: 16px;
    }
    #logo-dual {
        display: block;
        div:nth-child(1) {
            width: 100%;
            margin: -5% 0 0 0;
        }
        div:nth-child(2) {
            margin-top: 20px;
            width: 100%;
        }
    }
    .neutral-card {
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 560px) {
    #resume-card {
        width: 95%;
    }
    .edu-styles {
        display: block;
        img {
            width: 100%;
            height: 100%;
        }
        div {
            padding: 6%;
        }
    }
    .resume-cv-styles {
        @include vertical-padding(6%);
    }

}

@media screen and (max-width: 481px) {
    #time-line {
        width: 50%;
    }
    #stats-showoff {
        display: block;
    }
    #stats-col-1, #stats-col-2, #stats-col-3 {
        width: 100%;
        h3 {
            margin-top: 25px;
        }
    }
}


