<app-navbar></app-navbar>

<div id="logo-meaning"></div>

<div id="ios-showoff" class="width-container">
    <h3 class="medium-text helvetica">Objective-C can only mean one thing -</h3>
    <h1 class="theme-color helvetica large-text">I'm a Kick-ass iOS Developer.</h1>
    <div id="stats-showoff" class="flex">
        <div id="stats-col-1" class="flex">
            <h1 class="large-text helvetica theme-color">{{data.appsWorkedOn}}</h1>
            <h3 class="medium-text helvetica">apps <br> worked on</h3>
        </div>
        <div id="stats-col-2" class="flex">
            <h1 class="large-text helvetica theme-color">{{data.commercialAppsWorkedOn}}</h1>
            <h3 class="medium-text helvetica">commercial apps <br> worked on</h3>
        </div>
        <div id="stats-col-3" class="flex">
            <h1 class="large-text helvetica theme-color">{{data.appsPublished}}</h1>
            <h3 class="medium-text helvetica">apps published <br> on App Store</h3>
        </div>
    </div>
</div>

<div id="ios-skills" class="width-container">
    <div id="ios-graphic" ></div>
    <div id="ios-content">
        <h3 class="medium-text helvetica">And I'm experienced in these areas of iOS Dev: </h3>
        <h1 class="medium-text helvetica" style="margin-bottom: 5px">Languages:
            <span class="theme-color">Swift&nbsp;</span>
            <span style="color: dodgerblue">Objective-C</span>
        </h1>
        <h3 class="helvetica small-text" *ngFor="let skill of data.iosSkills" style="padding: 0; margin: 0.2%">
            <span>{{skill.name}}&nbsp;&nbsp;</span>
            <span style="color: darkgrey">{{skill.details.join(", ")}}&nbsp;</span>
        </h3>
        <h3 class="medium-text helvetica">View More Details
            <a class="orange-underline-anchor" [routerLink]="['/apps']">here</a>.
        </h3>
    </div>
</div>

<div id="web-skills">
    <div class="width-container">
        <h1 class="medium-large-text helvetica">Web Design? I'm good at that too.</h1>
        <h3 class="small-text helvetica">I have experience using these frameworks:</h3>

        <div id="web-scroll-master">
            <div class="web-skills-scroll" *ngFor="let webSkill of webSkillsFormatted">
                <h3 class="theme-color small-text helvetica">{{webSkill.category}}</h3>
                <div style="width: 100px" *ngFor="let skill of webSkill.details">
                    <img width="100px" height="100px" src="{{skill.imageUrl}}">
                    <h3 class="extra-small-text helvetica" style="text-align: center">{{skill.text}}</h3>
                </div>
            </div>
        </div>

        <h3 class="small-text helvetica">In fact, this website is programmed with Angular.</h3>
    </div>
</div>

<app-footer [showTopBorder]="true"></app-footer>
